<h2>
  CV Collector
</h2>
<p>
  Cv Collector is a great tool to collect CVs for businesses and organizations.
</p>

<div>
  <h3>For Organizations:</h3>`
</div>
<div class="form-group">
  <button class="btn btn-outline-primary" routerLink="/login">
    Login <span class="mdi lock-open"></span>
  </button>
  <button class="btn btn-outline-primary" routerLink="/signup">
    Signup <span class="mdi lock-open"></span>
  </button>
</div>

<div>
  <h3>For Users</h3>
</div>
<div class="form-group">
  <input type="number" name="linkId" [(ngModel)]="linkId" />
  <button class="btn btn-outline-primary" (click)="cv()">
    Submit Cv <span class="mdi lock-open"></span>
  </button>
</div>
