<div class="form-group">
  <label for="username">Username</label>
  <input type="text" [(ngModel)]="username" class="form-control" id="username" name="username" placeholder="Username">
  <small id="usernameHelp" class="form-text text-muted">* Your Unique Username</small>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" placeholder="Password">
  <small id="passwordHelp" class="form-text text-muted">* Your Secret Password</small>
</div>

<div class="form-group">
  <button class="btn btn-outline-primary pull-right" (click)="login()">
    Login <span class="mdi lock-open"></span>
  </button>
</div>
