<div>
  <h2><strong>WHAT IS CV?</strong></h2>
</div>
<div>

<p align="left"> A CV (short for the Latin phrase curriculum vitae, which means “course of life”) is a detailed document highlighting
  your personal,
  professional and academic history.
  CVs typically include information like work experience, achievements and awards, scholarships or
  grants you’ve earned, coursework, research projects and publications of your work. You may be asked to submit a CV when applying for jobs.</p>

</div>

<div>

  <h2><strong>WHY CV IS IMPORTANT?</strong></h2>

  <p align="left">

    Without a favorable initial impression, a prospective employer is likely to stop considering you as a suitable candidate for the job on offer and move on to other candidates who have provided better resumes.

    Think of a resume as a tool for marketing yourself. It’s more than just a document: It outlines your background, your skills, and your education so that a potential employer is quickly and easily able to see how your individual experiences can contribute to a company’s success.



  </p>

</div>




<div>

  <h2><strong>WHAT IS CV COLLECTOR?</strong></h2>

  <p align="left">CV collector is a web based application which is used to generate the cv in pdf format and used to collect the cv in
    database.






  </p>


</div>
