<div class="card cv-form-container">
  <div class="container">
    <app-map></app-map>
  </div>
      <div class="card-body">
        <h3 class="card-title">Fill Your Cv</h3>
        <h6 class="card-subtitle">* marked fields are required</h6>
        <ngb-tabset #t="ngbTabset">
          <ngb-tab id="tab-PersonalDetails">
            <ng-template ngbTabTitle>
              Personal Details
            </ng-template>
            <ng-template ngbTabContent>
              <form class="cv-form-personal">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" [(ngModel)]="cv.personal.firstName" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                    <small id="firstNameHelp" class="form-text text-muted">* Your First Name</small>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" [(ngModel)]="cv.personal.lastName" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                    <small id="lastNameHelp" class="form-text text-muted">* Your Last Name</small>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="gender">Gender</label>
                    <select [(ngModel)]="cv.personal.gender" class="form-control custom-select" id="gender" name="gender">
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Other</option>
                    </select>
                  </div>

                  <!-- Datepicker for dob -->
                  <div class="form-group col-md-4">
                    <label for="dob">Date of Birth</label>
                    <form class="form-inline">
                      <div class="input-group full-width">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               [(ngModel)]="cv.personal.dob" [minDate]="minDate" [maxDate]="currentDate" name="dob" id="dob" readonly="readonly" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append" (click)="d.toggle()" >
                          <i class="fa fa-calendar input-group-text"></i>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- Datepicker for dob -->

                  <div class="form-group col-md-4">
                    <label for="nationality">Nationality</label>
                    <input type="text" [(ngModel)]="cv.personal.nationality" class="form-control" id="nationality" name="nationality" placeholder="">
                  </div>

                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="fatherName">Father's Name</label>
                    <input type="text" [(ngModel)]="cv.personal.father" class="form-control" id="fatherName" name="fatherName" placeholder="Father's Name">
                    <small id="fatherNameHelp" class="form-text text-muted">* Your Father's Name</small>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Mother's Name</label>
                    <input type="text" [(ngModel)]="cv.personal.mother" class="form-control" id="motherName" name="motherName" placeholder="Mother's Name">
                    <small id="motherNameHelp" class="form-text text-muted">* Your Last Name</small>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="careerTitle">Career Title</label>
                    <input type="text" [(ngModel)]="cv.personal.careerTitle" class="form-control" id="careerTitle" name="careerTitle" placeholder="Career Title">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="maritalStatus">Marital Status</label>
                    <select [(ngModel)]="cv.personal.maritalStatus" class="form-control custom-select" id="maritalStatus" name="maritalStatus">
                      <option value="1">Married</option>
                      <option value="2">Unmarried</option>
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <label for="personalAdditional">Personal Details Additional</label>
                  <textarea [(ngModel)]="cv.personal.additionalDetails" class="form-control" rows="5" id="personalAdditional" name="personalAdditional"></textarea>
                </div>
              </form>

              <p>
                <button class="btn btn-outline-primary pull-right" (click)="t.select('tab-ContactDetails')">
                  Next <span class="mdi mdi-arrow-right"></span>
                </button>
              </p>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-ContactDetails">
            <ng-template ngbTabTitle>
              Contact Details
            </ng-template>
            <ng-template ngbTabContent>
              <form class="cv-form-contact">
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="inputCity">Address</label>
                    <input type="text" [(ngModel)]="cv.contact.address" name="inputCity" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputZip">Zip</label>
                    <input type="text" [(ngModel)]="cv.contact.zip" name="inputZip" class="form-control" id="inputZip">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 float-left row">
                    <div class="col-12">
                      <label>Phone Numbers</label>
                    </div>
                    <div class="form-list form-inline col-sm-8" *ngFor="let phone of cv.contact.phone; let i = index">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span class="fa fa-phone"></span>
                          </div>
                        </div>
                        <input type="text" [(ngModel)]="cv.contact.phone[i]" name="inputPhone{{i}}" class="form-control" id="inputPhone{{i}}" placeholder="Phone Number">
                      </div>
                    </div>
                    <button class="btn btn-success btn-circle align-middle"
                            (click)="addPhone()" ngbTooltip="Add Phone" placement="right">
                      <span class="fa fa-plus"></span>
                    </button>
                  </div>


                  <div class="form-group col-md-6 float-left row">
                    <div class="col-12">
                      <label>Email Addresses</label>
                    </div>
                    <div class="form-list form-inline col-sm-8" *ngFor="let email of cv.contact.email; let i = index">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span class="fa fa-envelope"></span>
                          </div>
                        </div>
                        <input type="text" [(ngModel)]="cv.contact.email[i]" name="inputEmail{{i}}" class="form-control" id="inputEmail{{i}}" placeholder="Email Address">
                      </div>
                    </div>
                    <button class="btn btn-success btn-circle align-middle"
                            (click)="addEmail()" ngbTooltip="Add Email" placement="right">
                      <span class="fa fa-plus"></span>
                    </button>
                  </div>
                </div>

                <div class="form-group">
                  <label for="contactDetailsAdditional">Contact Details Additional</label>
                  <textarea [(ngModel)]="cv.contact.additionalDetails" name="contactDetailsAdditional" class="form-control" rows="5" id="contactDetailsAdditional"></textarea>
                  <small id="contactDetailsAdditionalHelp" class="form-text text-muted">Eg. Opinion about Relocation.</small>
                </div>
              </form>

              <p>
                <button class="btn btn-outline-primary pull-left" (click)="t.select('tab-PersonalDetails')">
                  <span class="mdi mdi-arrow-left"></span> Previous
                </button>
                <button class="btn btn-outline-primary pull-right" (click)="t.select('tab-EducationDetails')">
                  Next <span class="mdi mdi-arrow-right"></span>
                </button>
              </p>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-EducationDetails">
            <ng-template ngbTabTitle>
              Education Details
            </ng-template>
            <ng-template ngbTabContent>
              <form class="cv-form-education">

                <div class="form-group">
                    <h3 class="card-title">Institutions</h3>
                    <h6 class="card-subtitle">List of Schools, Colleges, etc.</h6>
                    <ngb-accordion #instutionAcc="ngbAccordion" [closeOthers]="true" activeIds="institution-0" class="accordion form-group">
                      <ngb-panel *ngFor="let institution of cv.education.institutions; let i = index" id="institution-{{i}}">
                        <ng-template ngbPanelTitle>
                          <div class="text-left"><strong>Institution:</strong> {{institution.name}}</div>
                          <div class="text-left"><strong>Degree:</strong> {{institution.degree}}</div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="form-group">
                            <label for="inputInstitutionName-{{i}}">Name</label>
                            <input type="text" [(ngModel)]="institution.name" name="inputInstitutionName-{{i}}" class="form-control" id="inputInstitutionName-{{i}}">
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputInstitutionDegree-{{i}}">Degree</label>
                              <input type="text" [(ngModel)]="institution.degree" name="inputInstitutionDegree-{{i}}" class="form-control" id="inputInstitutionDegree-{{i}}">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputInstitutionConcentration-{{i}}">Concentration</label>
                              <input type="text" [(ngModel)]="institution.concentration" name="inputInstitutionConcentration-{{i}}" class="form-control" id="inputInstitutionConcentration-{{i}}">
                            </div>
                          </div>

                          <div class="form-row">
                            <!-- Datepicker for start date -->
                            <div class="form-group col-md-6">
                              <label for="institution-startDate-{{i}}">Start Date</label>
                              <form class="form-inline">
                                <div class="input-group full-width">
                                  <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="{year: 1970, month: 1, day: 1}"
                                         [(ngModel)]="institution.suruDate" name="institution-startDate-{{i}}" id="institution-startDate-{{i}}" readonly="readonly" ngbDatepicker #institutionStartDate="ngbDatepicker">
                                  <div class="input-group-append" (click)="institutionStartDate.toggle()" >
                                    <i class="fa fa-calendar input-group-text"></i>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <!-- Datepicker for start date-->

                            <!-- Datepicker for end date -->
                            <div class="form-group col-md-6">
                              <label for="institution-endDate-{{i}}">End Date</label>
                              <form class="form-inline">
                                <div class="input-group full-width">
                                  <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="{year: 1970, month: 1, day: 1}"
                                         [(ngModel)]="institution.antimDate" name="institution-endDate-{{i}}" id="institution-endDate-{{i}}" readonly="readonly" ngbDatepicker #institutionEndDate="ngbDatepicker">
                                  <div class="input-group-append" (click)="institutionEndDate.toggle()" >
                                    <i class="fa fa-calendar input-group-text"></i>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <!-- Datepicker for end date-->
                          </div>

                          <div class="form-group">
                            <label for="institutionAdditionalInfo">Institution Additional Info</label>
                            <textarea [(ngModel)]="institution.additionalInfo" name="institutionAdditionalInfo" class="form-control" rows="5" id="institutionAdditionalInfo"></textarea>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>

                    <br />

                    <button class="btn btn-success btn-circle align-middle"
                            (click)="addInstitution()" ngbTooltip="Add Institution" placement="right">
                      <span class="fa fa-plus"></span>
                    </button>

                </div>

                <div class="form-group">
                  <label for="educationAdditionalDetails">Education Additional Details</label>
                  <textarea [(ngModel)]="cv.education.additionalDetails" name="educationAdditionalDetails" class="form-control" rows="5" id="educationAdditionalDetails"></textarea>
                </div>

              </form>

              <p>
                <button class="btn btn-outline-primary pull-left" (click)="t.select('tab-ContactDetails')">
                  <span class="mdi mdi-arrow-left"></span> Previous
                </button>
                <button class="btn btn-outline-primary pull-right" (click)="t.select('tab-ProfessionalDetails')">
                  Next <span class="mdi mdi-arrow-right"></span>
                </button>
              </p>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-ProfessionalDetails">
            <ng-template ngbTabTitle>
              Professional Details
            </ng-template>
            <ng-template ngbTabContent>
              <form class="cv-form-professional">

                <div class="form-group">
                  <label for="inputProfessionalSkills">Professional Skills</label>
                  <input type="text" [(ngModel)]="cv.professional.professionalSkills" name="inputProfessionalSkills" class="form-control" id="inputProfessionalSkills">
                </div>

                <div class="form-group">
                  <ngb-accordion #workplaceAcc="ngbAccordion" [closeOthers]="true" activeIds="workplace-0" class="accordion form-group">
                    <ngb-panel *ngFor="let workplace of cv.professional.workPlaces; let i = index" id="workplace-{{i}}">
                      <ng-template ngbPanelTitle>
                        <div class="text-left"><strong>Workplace:</strong> {{workplace.name}}</div>
                        <div class="text-left"><strong>Designation:</strong> {{workplace.designation}}</div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <div class="form-group">
                          <label for="inputWorkPlaceName-{{i}}">Name</label>
                          <input type="text" [(ngModel)]="workplace.name" name="inputWorkPlaceName-{{i}}" class="form-control" id="inputWorkPlaceName-{{i}}">
                        </div>

                        <div class="form-group">
                          <label for="inputWorkPlaceDesignation-{{i}}">Designation</label>
                          <input type="text" [(ngModel)]="workplace.designation" name="inputWorkPlaceDesignation-{{i}}" class="form-control" id="inputWorkPlaceDesignation-{{i}}">
                        </div>

                        <div class="form-row">
                          <!-- Datepicker for start date -->
                          <div class="form-group col-md-6">
                            <label for="workplace-startDate-{{i}}">Start Date</label>
                            <form class="form-inline">
                              <div class="input-group full-width">
                                <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="{year: 1970, month: 1, day: 1}"
                                       [(ngModel)]="workplace.suruDate" name="workplace-startDate-{{i}}" id="workplace-startDate-{{i}}" readonly="readonly" ngbDatepicker #workPlaceStartDate="ngbDatepicker">
                                <div class="input-group-append" (click)="workPlaceStartDate.toggle()" >
                                  <i class="fa fa-calendar input-group-text"></i>
                                </div>
                              </div>
                            </form>
                          </div>
                          <!-- Datepicker for start date-->

                          <!-- Datepicker for end date -->
                          <div class="form-group col-md-6">
                            <label for="workplace-endDate-{{i}}">End Date</label>
                            <form class="form-inline">
                              <div class="input-group full-width">
                                <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="{year: 1970, month: 1, day: 1}"
                                       [(ngModel)]="workplace.antimDate" name="workplace-endDate-{{i}}" id="workplace-endDate-{{i}}" readonly="readonly" ngbDatepicker #workPlaceEndDate="ngbDatepicker">
                                <div class="input-group-append" (click)="workPlaceEndDate.toggle()" >
                                  <i class="fa fa-calendar input-group-text"></i>
                                </div>
                              </div>
                            </form>
                          </div>
                          <!-- Datepicker for end date-->
                        </div>

                        <div class="form-group">
                          <label for="workplaceAdditionalInfo">WorkPlace Additional Info</label>
                          <textarea [(ngModel)]="workplace.additionalInfo" name="workplaceAdditionalInfo" class="form-control" rows="5" id="workplaceAdditionalInfo"></textarea>
                        </div>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>

                  <br />

                  <button class="btn btn-success btn-circle align-middle"
                          (click)="addWorkplace()" ngbTooltip="Add WorkPlace" placement="right">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>

                <div class="form-group">
                  <label for="professionalDetailsAdditional">Professional Additional Details</label>
                  <textarea [(ngModel)]="cv.professional.additionalDetails" name="inputprofessionalDetailsAdditional" class="form-control" rows="5" id="professionalDetailsAdditional"></textarea>
                </div>

              </form>

              <p>
                <button class="btn btn-outline-primary pull-left" (click)="t.select('tab-EducationDetails')">
                  <span class="mdi mdi-arrow-left"></span> Previous
                </button>
                <button class="btn btn-outline-primary pull-right" (click)="t.select('tab-ProjectDetails')">
                  Next <span class="mdi mdi-arrow-right"></span>
                </button>
              </p>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-ProjectDetails">
          <ng-template ngbTabTitle>
            Project Details
          </ng-template>
          <ng-template ngbTabContent>
            <form class="cv-form-project">

              <div class="form-group">
                <ngb-accordion #projectAcc="ngbAccordion" [closeOthers]="true" activeIds="project-0" class="accordion form-group">
                  <ngb-panel *ngFor="let project of cv.project.projects; let i = index" id="project-{{i}}">
                    <ng-template ngbPanelTitle>
                      <div class="text-left"><strong>Project:</strong> {{project.title}}</div>
                      <div class="text-left"><strong>Organizer:</strong> {{project.organizer}}</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div class="form-group">
                        <label for="inputProjectTitle-{{i}}">Title</label>
                        <input type="text" [(ngModel)]="project.title" name="inputProjectTitle-{{i}}" class="form-control" id="inputProjectTitle-{{i}}">
                      </div>


                      <div class="form-group">
                        <label for="inputProjectOrganizer-{{i}}">Organizer</label>
                        <input type="text" [(ngModel)]="project.organizer" name="inputProjectOrganizer-{{i}}" class="form-control" id="inputProjectOrganizer-{{i}}">
                      </div>

                      <div class="form-row">
                        <!-- Datepicker for start date -->
                        <div class="form-group col-md-6">
                          <label for="project-startDate-{{i}}">Start Date</label>
                          <form class="form-inline">
                            <div class="input-group full-width">
                              <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="{year: 1970, month: 1, day: 1}"
                                     [(ngModel)]="project.suruDate" name="project-startDate-{{i}}" id="project-startDate-{{i}}" readonly="readonly" ngbDatepicker #projectStartDate="ngbDatepicker">
                              <div class="input-group-append" (click)="projectStartDate.toggle()" >
                                <i class="fa fa-calendar input-group-text"></i>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- Datepicker for start date-->

                        <!-- Datepicker for end date -->
                        <div class="form-group col-md-6">
                          <label for="project-endDate-{{i}}">End Date</label>
                          <form class="form-inline">
                            <div class="input-group full-width">
                              <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="{year: 1970, month: 1, day: 1}"
                                     [(ngModel)]="project.antimDate" name="project-endDate-{{i}}" id="project-endDate-{{i}}" readonly="readonly" ngbDatepicker #projectEndDate="ngbDatepicker">
                              <div class="input-group-append" (click)="projectEndDate.toggle()" >
                                <i class="fa fa-calendar input-group-text"></i>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- Datepicker for end date-->
                      </div>

                      <div class="form-group">
                        <label for="projectAdditionalDetails">Project Additional Details</label>
                        <textarea [(ngModel)]="project.additionalDetails" name="projectAdditionalDetails" class="form-control" rows="5" id="projectAdditionalDetails"></textarea>
                      </div>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>

                <br />

                <button class="btn btn-success btn-circle align-middle"
                        (click)="addProject()" ngbTooltip="Add Project" placement="right">
                  <span class="fa fa-plus"></span>
                </button>
              </div>

              <div class="form-group">
                <label for="projectAdditional">Projects Details Additional</label>
                <textarea [(ngModel)]="cv.project.additionalDetails" name="projectAdditional" class="form-control" rows="5" id="projectAdditional"></textarea>
              </div>

            </form>

            <p>
              <button class="btn btn-outline-primary pull-left" (click)="t.select('tab-ProjectDetails')">
                <span class="mdi mdi-arrow-left"></span> Previous
              </button>
              <button class="btn btn-outline-primary pull-right" (click)="t.select('tab-AdditionalDetails')">
                Next <span class="mdi mdi-arrow-right"></span>
              </button>
            </p>
          </ng-template>
        </ngb-tab>

          <ngb-tab id="tab-AdditionalDetails">
          <ng-template ngbTabTitle>
            Additional Details
          </ng-template>
          <ng-template ngbTabContent>
            <form class="cv-form-additional">

              <div class="form-row">
                <div class="col-12">
                  <label>Languages</label>
                </div>

                <div class="form-list form-inline col-12" *ngFor="let language of cv.additionalInfo.languageProficiencyList; let i = index">
                  <div class="form-row">
                    <div class="form-group form-inline">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            Language
                          </div>
                        </div>
                        <input type="text" [(ngModel)]="language.language" name="inputLanguage-{{i}}" class="form-control" id="inputLanguage-{{i}}" PLACEHOLDER="Language">
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            Proficiency
                          </div>
                        </div>
                        <input type="text" [(ngModel)]="language.proficiency" name="inputProficiency-{{i}}" class="form-control" id="inputProficiency-{{i}}" PLACEHOLDER="Proficiency">
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-success btn-circle align-middle"
                        (click)="addLanguageProficiency()" ngbTooltip="Add Language Proficiency" placement="right">
                  <span class="fa fa-plus"></span>
                </button>
              </div>

              <br />

              <div class="form-group">
                <label for="inputHobbies">Hobbies</label>
                <input type="text" [(ngModel)]="cv.additionalInfo.hobbies" name="inputHobbies" class="form-control" id="inputHobbies">
              </div>

              <div class="form-group">
                <label for="additionalSummary">Additional Summary</label>
                <textarea [(ngModel)]="cv.additionalInfo.notes" name="additionalNotes" class="form-control" rows="5" id="additionalSummary"></textarea>
              </div>

            </form>

            <p>
              <button class="btn btn-outline-primary pull-left" (click)="t.select('tab-ProjectDetails')">
                <span class="mdi mdi-arrow-left"></span> Previous
              </button>
              <button class="btn btn-outline-primary pull-right" (click)="save()">
                Preview and Submit <span class="mdi mdi-arrow-right"></span>
              </button>
            </p>
          </ng-template>
        </ngb-tab>
        </ngb-tabset>


      </div>
    </div>
